@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

#title {
	color:blueviolet;
	
}

header {
	height: 70px;
	color: blueviolet;
}

.btn {
	background-color: blueviolet;
}

header > .search {
	height: 70px;
	width: 600px;
}

.sub-menu {
	width: auto;
}

.contents {
	width: auto;
	height: 600px;
	
}


.contents > .input-box {
	width: 400px;
}

#loginBtn {
	background-color:blueviolet;
}

#joinBtn {
	background-color:blueviolet;
}

footer {
	height: 70px;
	color:blueviolet;
	
}